{% extends 'base.html'%}
{%block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/account.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% if user.user_account_image %}
                <img src="{{url_for('static',filename=user.user_account_image)}}" alt="">
            {%else%}
                <p>No profile picture</p>
            {% endif %}
            {% if user == current_user %}
                <form  action="{{url_for('main.update_profile_picture',username=user.username)}}" method="post" enctype = "multipart/form-data">
                    <input type="file"  name="image" class="form-control" required>
                    <input type="submit">
                </form>
            {% endif %}
            <hr><h2>{{user.username| capitalize}} </h2>
            {% if user.user_bio %}
            <div class="bio">
                <p> {{user.user_bio}}</p>
            </div>
            {%else%}
                <div class="bio">
                    <p> {{user.username| capitalize}} has no bio </p>
                </div>
            {% endif %}
            {% if user == current_user %}
                <a class="link-btn" href="{{url_for('main.update_account',username=user.username)}}">Edit profile</a>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}