{% macro displayPosts(posts_list) %}
    {% for post in posts_list %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 ">
                <div class="card blog">
                    <div class="card-body">
                        <h2 class="title">{{post.post_title|title}}</h2><hr>
                        <h2>By: <span class="author">{{post.author.username|title}}</span></h2>
                        <h3>{{post.post_content|truncate}}</h3>
                        <a href="{{url_for('main.single_post',id=post.id)}}" class="link-btn">Read More</a>
                    </div>
                </div>            
            </div>
            <div class="col-md-1"></div>
        </div>
    {% endfor %}
{% endmacro %}

