{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <h2>Title: {{post.post_title|title}}</h2>
                    <h2>Authored by: {{post.author.username|title}}</h2>
                    <h2>Time Posted: {{post.post_creation.strftime('%Y-%m-%d %H:%M')}}</h2>
                    <p>{{format_post|safe}}</p>
                    <p><a href="{{url_for('main.new_comment',id=post.id)}}">Add Comment</a></p>
                    {% if current_user.is_authenticated %}
                    <p><a href="{{url_for('main.update_post',id=post.id)}}">Update</a></p>
                    <p><a href="{{url_for('main.delete_post',id=post.id)}}">Delete</a></p>
                    {%endif%}
                </div>   
            </div>         
        </div>
        <div class="col-md-1"></div>
    </div><hr>
    {% if post_comments %}
        {{macro.displayComments(post_comments)}}
    {%else%}
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-10">
                <h1>This Blog Post has no comments</h1>
            </div>
            <div class="col-md-1"></div>
        </div>
    {%endif%}
{%endblock%}